.third-album {
    width: 800px;
    margin: auto;
}

.third-album-image {
    width: 400px;
    margin: 50px;
    display: block;
    margin: auto;
    padding-top: 30px;
}

a {
   text-decoration: none;
}

.third-album p {
    font-weight: 600;
    color: rgb(5, 5, 5); 
    text-shadow: 1px 1px 1px white;
    text-align: center;
    padding: 30px;
}

.container {
    display: grid; 
}

.other-albums {
    width: 800px;
    height: 350px;
    margin: auto;
}

.other-albums p {
    padding-top: 20px;
}

.first-album {
    width: 400px;
    height: auto;
    margin: auto;
    float: left;
}

.first-album p {
    font-weight: 600;
    color: rgb(5, 5, 5); 
    text-shadow: 1px 1px 1px white;
    text-align: center;
}

.second-album {
    width: 400px;
    height: auto;
    margin: auto;
    font-weight: 600;
    color: rgb(5, 5, 5); 
    text-shadow: 1px 1px 1px white;
    text-align: center;
    float: right;
}

.second-album p {
    font-weight: 600;
    color: rgb(5, 5, 5); 
    text-shadow: 1px 1px 1px white;
    text-align: center;
}

.first-album-image {
    width: 300px;
}

.second-album-image {
    width: 300px;
}

.singles {
width: 800px;
display: flex;
justify-content: space-between;
text-align: center;
margin: auto;
padding-top: 12px;
}

.singles p {
    padding-top: 12px;
    font-weight: 600;
    font-size: 15px;
    color: rgb(5, 5, 5); 
    text-shadow: 1px 1px 1px white;
    text-align: center;
}

.seasons img {
    width: auto;
    height: 200px;
}

.cobweb img {
    width: 200px;
}

.post-factum img {
    width: auto;
    height: 200px;
}