.third-album {
    width: 800px;
    margin: auto;
    font-weight: 600;
    color: rgb(5, 5, 5); 
    text-shadow: 1px 1px 1px white;
    text-align: center;
}

.third-album-image {
    width: 400px;
    margin: 50px;
    display: block;
    margin: auto;
    padding-top: 30px;
}

.two-albums {
    width: 800px;
    height: 370px;
    margin: auto;
}

.first-album {
    width: 400px;
    height: 390px;
    margin: auto;
    font-weight: 600;
    color: rgb(5, 5, 5); 
    text-shadow: 1px 1px 1px white;
    text-align: center;
    float: left;
}

.second-album {
    width: 400px;
    height: 390px;
    margin: auto;
    font-weight: 600;
    color: rgb(5, 5, 5); 
    text-shadow: 1px 1px 1px white;
    text-align: center;
    float: right;
}

.first-album-image {
    width: 300px;
    padding-bottom: 30px;
}

.second-album-image {
    width: 300px;
    padding-bottom: 30px;
}