body {
    background-color: rgb(32, 30, 30);
}

.header {
    font-family: old typewriter;
    color: rgb(165, 82, 82);
    text-align: center;
    font-size: 50px;
    padding: 10px;
    margin: 50px;
    background-color: rgb(26, 23, 23);
}

.outer-nav {
    padding: 10px;
    margin: 50px;
    text-align: center;
    background-color: rgb(37, 36, 36);
}

.inner-nav {
    display: inline-block;
    padding: 10px;
    margin: 50px;
    background-color: rgb(43, 42, 42);
}

.navigation {
    font-family: old typewriter;
    color: rgb(214, 129, 59); 
    text-decoration: none;
    padding: 20px;
}

h2 {
    font-family: old typewriter;
    color: rgb(165, 82, 82);
    text-align: center;
}

article {
    background-color: rgb(37, 36, 36);
    padding: 10px;
    margin: 50px;
}

h3 {
    font-family: old typewriter;
    color: rgb(165, 82, 82);
    text-align: center;
}

img {
    width: 500px;
    margin: 50px;
    display: block;
    margin: auto;
}

footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(214, 129, 59); 
}

.outer-footer {
    padding: 10px;
    text-align: center;
}

.inner-footer {
    display: inline-block;
    padding: 50px;
}

.mail {
    color: rgb(214, 129, 59); 
}