body {
    text-align: center;
    color: rgb(212, 80, 27);
    background-color: rgb(5, 5, 5);
}

footer {
    vertical-align: bottom;
}

a {
    color: yellow;
}

h1 {
font-family: old typewriter;
font-size: 72px;
}

.gothic {
    font-family: old english text MT;
    font-size: 32px;
    background-color: rgb(85, 81, 62)
}

.table {
    border: 1px solid red;
    border-collapse: collapse;
    width: 100%;
    height: 70px;
    text-align: center;
}

.tablerow {
    border: 1px solid red;
    border-collapse: collapse;
}

.tabledata {
    border: 1px solid red;
    border-collapse: collapse;
}

.header {
    background-color: rgb(26, 44, 26);
}

.article1 {
    background-color: rgb(37, 37, 66);
    font-family: Arial, Helvetica, sans-serif;
}

