body {
    background-color: rgb(32, 30, 30);
}

.header {
    font-family: old typewriter;
    color: rgb(165, 82, 82);
    text-align: center;
    font-size: 50px;
    padding: 10px;
    margin: 50px;
    margin-bottom: -100px;
    background-color: rgb(26, 23, 23);
}

.outer-nav {
    padding: 10px;
    margin: 50px;
    text-align: center;
    background-color: rgb(26, 23, 23);
    margin-bottom: -50px;
}

.inner-nav {
    display: inline-block;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    margin: 10px;
    background-color: rgb(43, 42, 42);
}

.navigation {
    font-family: old typewriter;
    color: rgb(214, 129, 59); 
    text-decoration: none;
    padding: 10px;
    border: 2px solid #130e0e ;
}

h2 {
    font-family: old typewriter;
    color: rgb(165, 82, 82);
    text-align: center;
}

.article1 {
    background-color: rgb(37, 36, 36);
    padding: 10px;
    margin: 50px;
    margin-bottom: -50px;
}

.article2 {
    background-color: rgb(37, 36, 36);
    padding: 10px;
    margin: 50px;
    padding-bottom: 50px;
}

.article3 {
    font-family: old typewriter;
    color: rgb(165, 82, 82);
    text-align: center;
    background-color: rgb(37, 36, 36);
    padding: 10px;
    margin: 50px;
    margin-bottom: 20px;
}

h3 {
    font-family: old typewriter;
    color: rgb(165, 82, 82);
    text-align: center;
}

img {
    width: 500px;
    margin: 50px;
    display: block;
    margin: auto;
}

footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(214, 129, 59); 
}

.outerfooter {
    text-align: center;
    background-color: rgb(37, 36, 36);
    padding: 10px;
    margin: 50px;
    padding-bottom: 50px;
}

.innerfooter {
    display: inline-block;
}

.mail {
    color: rgb(214, 129, 59); 
}

#newalbum {
    margin: 30px;
}

#firstalbum {
    margin: 30px;
}

#secondalbum {
    margin: 30px;  
}

form {
    font-family: old typewriter;
    color: rgb(165, 82, 82);
}

.form1 {
padding: 10px;
padding-left: 100px;
}

::placeholder {
    font-family: old typewriter;
    color: rgb(218, 190, 190);
    font-size: 10px;
  }

  .button {
    font-family: old typewriter;
border-radius:20px;
background:#161515;
color: rgb(165, 82, 82);
font-size:18px;
cursor:pointer;
  }
  