* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: oldtypewriter; 
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Old-Typewriter2.0.ttf);
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(44 44 44);
    font-family: oldtypewriter, "Calisto MT", serif;
    width: 100%;
}

header {
    max-width: 1200px;
    margin: 20px auto 0px auto;
    align-items: center;
}

.logo {
    width: 800px;
    display: flex;
    animation-name: logo-animation;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 1s;
}

@keyframes logo-animation {
    0% {width: 800px;}
    50% {width: 820px;}
    100% {width: 800px;}
}

.menu {
    display: flex;
    justify-content: space-around;
    margin: 20px 300px 0 300px;
    background-color: rgba(51, 35, 35, 0.4);
    box-shadow: 0 0 10px 8px rgb(51 35 35 / 40%);
}

.menu a {
    text-decoration: none;
    font-size: large;
    color: rgb(8, 8, 8);
    text-shadow: 1px 1px 1px white;
    margin: 20px 0;
}

.menu a:hover {
    color: rgb(243, 243, 236); 
    text-shadow: 2px 2px 2px black;
    padding-bottom: 3px;
    animation-name: menu-shaking;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.menu a.active {
    color: rgb(243, 243, 236); 
    text-shadow: 2px 2px 2px black;
    padding-bottom: 3px;
}

@keyframes menu-shaking {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

h1 {
    font-weight: 900;
    color: rgb(5, 5, 5); 
    text-shadow: 1px 1px 1px white;
    text-align: center;
    padding-top: 40px;
}

.our-next-dates {
    margin: auto;
    width: 800px;
}

.our-next-dates p {
    text-align: center;
    color: rgb(8, 8, 8);
    text-shadow: 1px 1px 1px white;
    padding: 30px;
}

img {
    width: 600px;
    display: block;
    margin: auto;
}

.tickets {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-decoration: none;
}

.tickets p {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 8px;
    border-radius: 13%;
}

.tickets a {
    text-decoration: none;
}

footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 600px;
    margin: 25px auto;
    background-color: rgba(51, 35, 35, 0.4);
    box-shadow: 0 0 10px 8px rgb(51 35 35 / 40%);
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-top: 15px;
}

.footer-menu a {
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-size: medium;
    text-shadow: 1px 1px 1px white;
}

.footer-menu a:hover,
.footer-menu a.active {
    color: white; 
    font-weight: 600;
    text-shadow: 2px 2px 2px black;
}

.partners {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.partners img {
    max-width: 100px;
}

.copyright {
    display: flex;
    justify-content: space-around;
    margin: 0 0 20px;
    padding-bottom: 12px;
    color: rgb(5, 5, 5);
    text-shadow: 1px 1px 1px white;
    font-size: medium;
}
