* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: oldtypewriter;
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Old-Typewriter2.0.ttf);
}

.container-fluid {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(32, 29, 29);
}

.d-flex {
    display: block;
    align-items: center;
}

header > .container {
    padding: 40px 10px;
}

.navigation nav {
    display: flex;
    justify-content: space-around;
    margin: 20px 300px 0 300px;
    background-color: rgb(51, 35, 35);
}

.menu a {
    text-decoration: none;
    color: rgb(182, 121, 29);
    margin: 20px 0;
}

.menu a:hover,
.menu a.active {
    color: rgb(228, 222, 172); 
    font-weight: 600;
    border-bottom: 3px solid rgb(228, 222, 172);
    padding-bottom: 5px;
}

body {
    font-family: oldtypewriter;
    width: 100%;
    background-color: rgb(39, 36, 36);
}

h1 {
    font-weight: 900;
    color: rgb(167, 150, 4);
    text-align: center;
    padding: 20px;
}

.ournextdate {
    margin: auto;
    background-color: rgb(37, 36, 36);
    width: 800px;
}

h2 {
    font-weight: 900;
    color: rgb(167, 150, 4);
    text-align: center;
    padding: 20px;
}

.ourpreviousdate {
    margin: auto;
    background-color: rgb(37, 36, 36);
    width: 800px;
}

article > p {
    font-weight: 400;
    color: rgb(167, 150, 4);
    text-align: center;
}

img {
    width: 500px;
    margin: 50px;
    display: block;
    margin: auto;
}

footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 1200px;
    height: 50px;
    margin: auto;
    color: rgb(167, 150, 4);
    font-weight: 700;
    text-align: center; 
    background-color: rgb(26, 23, 23);
}